<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServicioLogin</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioRegistro</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioTablaPizzas</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioTablaPizzas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioCambiarClave</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioCambiarClave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioEditarCuenta</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioEditarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioAgregarPizza</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioAgregarPizza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioCerrarSesion</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioPrueba</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioPrueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioPruebAcomp</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioPruebAcomp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServivcioNuevaOrden</servlet-name>
        <servlet-class>proyecto2.servicios.ServivcioNuevaOrden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioEliminarOrden</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioEliminarOrden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioMostrarOrden</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioMostrarOrden</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiciosComentarios</servlet-name>
        <servlet-class>proyecto2.servicios.ServiciosComentarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioComenReci</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioComenReci</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioEliminaPizza</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioEliminaPizza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioCrearPizza</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioCrearPizza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioFechas</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioFechas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioProducto</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioProductos</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioLlenarEditar</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioLlenarEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioEditarPizza</servlet-name>
        <servlet-class>proyecto2.servicios.ServicioEditarPizza</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServicioLogin</servlet-name>
        <url-pattern>/ServicioLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioRegistro</servlet-name>
        <url-pattern>/ServicioRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioTablaPizzas</servlet-name>
        <url-pattern>/ServicioTablaPizzas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioCambiarClave</servlet-name>
        <url-pattern>/ServicioCambiarClave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioEditarCuenta</servlet-name>
        <url-pattern>/ServicioEditarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioAgregarPizza</servlet-name>
        <url-pattern>/ServicioAgregarPizza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioCerrarSesion</servlet-name>
        <url-pattern>/ServicioCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioPrueba</servlet-name>
        <url-pattern>/ServicioPrueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioPruebAcomp</servlet-name>
        <url-pattern>/ServicioPruebAcomp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServivcioNuevaOrden</servlet-name>
        <url-pattern>/ServivcioNuevaOrden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioEliminarOrden</servlet-name>
        <url-pattern>/ServicioEliminarOrden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioMostrarOrden</servlet-name>
        <url-pattern>/ServicioMostrarOrden</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiciosComentarios</servlet-name>
        <url-pattern>/ServiciosComentarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioComenReci</servlet-name>
        <url-pattern>/ServicioComenReci</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioEliminaPizza</servlet-name>
        <url-pattern>/ServicioEliminaPizza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioCrearPizza</servlet-name>
        <url-pattern>/ServicioCrearPizza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioFechas</servlet-name>
        <url-pattern>/ServicioFechas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioProducto</servlet-name>
        <url-pattern>/ServicioProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioProductos</servlet-name>
        <url-pattern>/ServicioProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioLlenarEditar</servlet-name>
        <url-pattern>/ServicioLlenarEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioEditarPizza</servlet-name>
        <url-pattern>/ServicioEditarPizza</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
