/*
indexStyle.css

EIF209 - Programación 4 - Proyecto #2
Junio 2020

Autores:
    - 207950788     Sara Moraga Alfara
    - 116980485     Scarleth Villarreal Jímenez
    - 117250099     Josué Víquez Campos
*/

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-image: url(imagenes/pizza2.jpg);
}
#wrapper{ 
    width: 600px; 
    background: #ffe259;
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
    background: linear-gradient(to right, #ffa751, #ffe259);
    margin: auto; 
    margin-top: 8%;
    padding: 23px 40px 23px 40px; 
    border-top: 5px solid #141414; 
    border-right: 5px solid #141414;
    border-left: 5px solid #141414; 
    border-bottom: 5px solid #141414; 
    border-radius: 6px; opacity: 0.9; 
}
.formulario{
    width: 500px;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 20px1px rgba(0,0,0,0.3);
    position: relative;
}
.formulario_titulo{
    font-family: "Latin Modern Roman 10";
    font-style: oblique;
    color: black;
    text-align: center;
    margin-top: 0;
    padding-bottom: 8px;
    color: rgba(0,0,0,0.7);
}
.formulario_label, 
.formulario_submit,
.formulario_input{
    display: block;
    width: 100%;
    font-size: 1.3em;
}
.formulario_input{
    padding: 20px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.6);
    margin-bottom: 40px;
}
.formulario_label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0,0,0,0.9);
    transition: all 0.2s;
}
.formulario_input:focus{
    outline: 1px solid rgba(0,0,0,0.7);
}
.formulario_input:focus + 
.formulario_label{
    margin-top: -135px;
}
.formulario_submit{
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}
.registro{
    margin-left: 28%;
    font-weight: bold;
    font-size: 18px;
    color: black;
}
.fijar{
    margin-top: -135px;
}

