/* 
pago.css

 

EIF209 - Programación 4 - Proyecto #2
Junio 2020

 

Autores:
    - 207950788     Sara Moraga Alfara
    - 116980485     Scarleth Villarreal Jímenez
   - 117250099     Josué Víquez Campos
*/

 

body{
    background-image: url(imagenes/fondoCliente.jpeg);
    font-family: "Roboto";
    background-size: cover;
    font-size: 15px;
}

 

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 295px;
    height: 250px;
    padding: 30px 10px 30px 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);  
    border-radius: 6px;
}

 

h1{
    text-align: center;
    color: #ff6666;
    
}

 

.wrapper .efec{
    position: fixed;
    top: 60%;
    left: 50%;
}

 

.wrapper .tarj{
    position: fixed;
    top: 60%;
    left: 25%;
}