/*
relojStyle.css

 

EIF209 - Programación 4 - Proyecto #2
Junio 2020

 

Autores:
    - 207950788     Sara Moraga Alfara
    - 116980485     Scarleth Villarreal Jímenez
    - 117250099     Josué Víquez Campos
*/

 

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    margin: 0;
    padding: 0;
    background-image: url(imagenes/reloj.jpg);
    font-family: "Roboto";
}

 

.wrapper{
    position: absolute;
    text-align: center;
    color: black;
    top: 50%;
    left: 35%;
    background-color: rgba(0, 0, 255,.2); 
    padding: 30px;
    font-family: "Latin Modern Roman 10";
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bolder;
}
.titulo{
    text-align: center;
    font-family: "Latin Modern Roman 10";
    font-style: oblique;
    background: #fc4a1a; 
    background: -webkit-linear-gradient(to right, #fc4a1a, #f7b733);
    background: linear-gradient(to right, #fc4a1a, #f7b733);
    border-top: 2px solid black;
    border-bottom: 2px solid black;

 

}

.btn{
    margin-left: 48%;
    margin-top: 35%;
    box-shadow: rgb(61, 194, 27) 0px 5px 0px -7px;
    background: #2193b0; 
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
    background: linear-gradient(to right, #6dd5ed, #2193b0); 
    border-radius: 4px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 38px;
}
